<nav class="nav-menu" aria-label="Main navigation">
  <ul class="menu-tabs">
    <li>
      <a class="menu-item home-link" href="/home" data-link="true">
        <img
          src="../assets/icons/home.svg"
          class="menu-icon"
          height="32"
          width="32"
          alt=" "
        />
        <span class="menu-text">Home</span>
      </a>
    </li>
    <li>
      <a class="menu-item portfolio-link" href="/portfolio" data-link="true">
        <img
          src="../assets/icons/book.svg"
          class="menu-icon"
          height="32"
          width="32"
          alt=" "
        />
        <span class="menu-text">Portfolio</span>
      </a>
    </li>
    <li>
      <a class="menu-item art-link" href="about.html" data-link="true">
        <img
          src="../assets/icons/stylus_fountain_pen.svg"
          class="menu-icon"
          height="32"
          width="32"
          alt=" "
        />
        <span class="menu-text">Art dabbles</span>
      </a>
    </li>
  </ul>
</nav>
