:root {
  /* Fonts */
  --default-font: "Inter";
  --dev-font: "ibm-plex-mono";
  --hand-written-font: "Mogra";
  --art-font: "Irish Grover";

  /* Colors */
  --color-main: #f28123;
  --color-portfolio: #e9582b;
  --color-art: #428880;

  --color-main-dark: #da711b;
  --color-portfolio-dark: #c85029;
  --color-art-dark: #316e67;

  --color-highlight: #ffe870;
  --color-white: #fff;
  --color-black: #000;

  --color-neutral-light: #e5e5e5;
  --color-neutral-dark: #d2d2d2;
  --color-text-dark: #252525;
  --color-text-light: #525252;

  --color-bg-dark: #333;
  --color-bg-yellow-100: #fefcd3;
  --color-bg-blue-100: #e9fbff;
  --color-bg-magneta-100: #ffc5f7;
  --color-bg-red-100: #ffb59d;
  --color-bg-green-100: #d8fae5;

  /* Box shadow */
  --shadow-default: 0px 4px 4px rgb(0 0 0 / 25%);

  /* sizes */
  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 20px;
  --s-6: 24px;
  --s-7: 28px;
  --s-8: 32px;
  --s-9: 36px;
  --s-10: 40px;
  --s-11: 44px;
  --s-12: 48px;
  --s-13: 52px;
  --s-14: 56px;
  --s-15: 60px;
  --s-16: 64px;
  --s-17: 68px;
  --s-18: 72px;
  --s-20: 80px;
  --s-22: 88px;
  --s-25: 100px;
  --s-30: 120px;
  --s-35: 140px;
  --s-40: 160px;
  --s-45: 180px;
  --s-50: 200px;

  /* font-sizes */
  --fs-sm: clamp(1.25rem, 1vw, 2rem);
  --fs-md: clamp(1.5rem, 1vw, 1.75rem);
  --fs-lg: clamp(1.5rem, 2.5vw, 2rem);
  --fs-xl: clamp(2.25rem, 10vw, 4.25rem);
  --fs-xxl: clamp(3.5rem, 4vw, 4.25rem);

  /* font-sizes: hand-written */
  --hand-written-md: 1.2rem;
  --hand-written-lg: 2.25rem;
  --hand-written-xl: 4rem;
  --hand-written-xxl: 5.25rem;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
}

@font-face {
  font-family: "ibm-plex-mono";
  src:
    url("../fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2") format("woff2"),
    url("../fonts/ibm-plex-mono/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ibm-plex-mono";
  src:
    url("../fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2") format("woff2"),
    url("../fonts/ibm-plex-mono/IBMPlexMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mogra";
  src:
    url("../fonts/mogra/Mogra-Regular.woff2") format("woff2"),
    url("../fonts/mogra/Mogra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mogra";
  src:
    url("../fonts/mogra/Mogra-Regular.woff2") format("woff2"),
    url("../fonts/mogra/Mogra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Irish Grover";
  src:
    url("../fonts/irish-grover/Irish-Grover-Regular.woff") format("woff2"),
    url("../fonts/irish-grover/Irish-Grover-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  background-image: url(../../assets/images/texture-bkg.jpg);
  background-repeat: repeat;
  font-size: clamp(20px, 1.1vw, 24px);
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--color-text-dark);
  }
}

body {
  --grid-color: rgba(0, 0, 0, 0.05);
  --grid-size: var(--s-11);
  background:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  font-family: var(--default-font), sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dd,
ul {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

a {
  position: relative;
}

a[data-tooltip]:hover::after,
a[data-tooltip]:focus::after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + var(--s-2));
  background: var(--color-black);
  color: var(--color-white);
  display: block;
  padding: var(--s-2);
  font-weight: bold;
  border-radius: var(--s-1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.page-content {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  min-height: 100vh;
}

.page-line {
  padding-block-end: var(--s-4);
  width: 100%;

  .line {
    height: var(--s-1);
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1520px;
  overflow-x: clip;
  padding-inline: var(--s-10);
  padding-block-start: var(--s-30);
  padding-block-end: var(--s-45);
}

#app {
  width: 100%;
}

.skip {
  position: absolute;
  top: -52px;
  left: 10px;
  background-color: var(--color-bg-dark);
  color: var(--color-white);
  padding: var(--s-2);
  text-decoration: none;
  z-index: 999;
  transition: top 0.3s;
}

.skip:focus {
  top: 0;
}

/* Utility css */
.text-bold {
  font-weight: 700;
}

.text-light {
  color: var(--color-text-light);
}

.flex {
  display: flex;
}

.text-md {
  font-size: 1.2rem;
  line-height: 120%;
}

@media screen and (max-width: 1279px) {
  .content {
    padding-block-start: var(--s-16);
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 16px;
  }

  .content {
    padding-inline: var(--s-15);
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-inline: var(--s-10);
  }
}

@media screen and (max-width: 479px) {
  .content {
    padding-inline: var(--s-4);
  }
}
