.nav-menu {
  background: var(--white);
  display: flex;
  height: 100%;
  padding-inline-end: var(--s-4);

  .menu-tabs {
    li {
      list-style-type: none;
    }
  }

  .menu-item {
    align-items: center;
    border-radius: 0 var(--s-4) var(--s-4) 0;
    color: var(--color-text-dark);
    display: flex;
    padding-block: var(--s-2);
    padding-inline: var(--s-6);
    text-decoration: none;
    writing-mode: vertical-rl;
    transition: padding-block 300ms ease;
  }

  .menu-item:hover {
    padding-block: var(--s-4);
  }

  .menu-text {
    font-size: 1.2rem;
    font-weight: 700;
    margin-inline-start: var(--s-4);
    text-align: center;
    white-space: nowrap;
  }

  .home-link {
    background: var(--color-main);
    border: 1px solid var(--color-main-dark);
    font-family: var(--dev-font);
  }

  .portfolio-link {
    background: var(--color-portfolio);
    border: 1px solid var(--color-portfolio-dark);
    font-family: var(--hand-written-font);
  }

  .art-link {
    background: var(--color-art);
    border: 1px solid var(--color-art-dark);
    font-family: var(--art-font);
  }
}

#menu .nav-menu {
  &::before {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    display: block;
  }
}

#menu:has(~ #app .page-home) .nav-menu {
  &::before {
    background: var(--color-main);
  }

  .home-link {
    border-left: 1px solid var(--color-main);
    padding-block: var(--s-4);
    position: relative;
    z-index: 1;
  }

  .portfolio-link,
  .art-link {
    border-left: 1px solid var(--color-main);
  }
}

#menu:has(~ #app .page-portfolio) .nav-menu,
#menu:has(~ #app .page-portfolio-dev) .nav-menu,
#menu:has(~ #app .page-design-system) .nav-menu,
#menu:has(~ #app .page-website-redesign) .nav-menu {
  &::before {
    background: var(--color-portfolio);
  }

  .portfolio-link {
    border-left: 1px solid var(--color-portfolio);
    padding-block: var(--s-4);
    position: relative;
    z-index: 1;
  }
}

#menu:has(~ #app .page-art-dabbles) .nav-menu {
  &::before {
    background: var(--color-art);
  }

  .art-link {
    border-left: 1px solid var(--color-art);
    padding-block: var(--s-4);
    position: relative;
    z-index: 1;
  }
}
