.page-home {
  .page-line {
    .line {
      background: var(--color-main);
    }
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--s-22);
  }

  .about {
    flex: 1 1 400px;
    max-width: 650px;
  }
}
