.page-portfolio {
  --max-content-width: 650px;

  .page-line {
    .line {
      background: var(--color-portfolio);
    }
  }

  .top-content {
    display: flex;
    justify-content: center;
    margin-block-end: var(--s-25);
  }

  .about-design {
    max-width: var(--max-content-width);
  }

  .section-title {
    margin-inline-start: var(--s-2);
  }

  .work-experience {
    margin-block-end: var(--s-20);
    margin-block-start: var(--s-25);
  }

  .work-experience__heading {
    display: flex;
    gap: var(--s-1);
  }

  .work-experience__date {
    margin-inline-start: auto;
    margin-inline-end: var(--s-6);
    white-space: nowrap;
  }

  .work-experience__content {
    margin-block-start: var(--s-6);
  }

  .work-experience__tools {
    margin-block-start: var(--s-4);
  }

  .case-studies {
    display: flex;
    flex-direction: column;
    gap: var(--s-20);
    width: 100%;

    .case-study {
      position: relative;
    }

    .case-study.multiple {
      display: flex;
    }
  }

  .board {
    align-items: center;
    display: flex;
    height: 560px;
    justify-content: center;
    padding-inline: var(--s-12);
    padding-block: var(--s-17);
    width: 80%;
  }

  .introduction {
    margin-block-start: var(--s-5);
    margin-block-end: var(--s-8);
  }

  .post-it {
    box-shadow: var(--shadow-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 420px;
    padding: var(--s-10);
    position: absolute;
    right: 0;
    text-decoration: none;
    width: 420px;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin-block-end: var(--s-1);
  }

  .subtitle {
    color: var(--color-text-light);
  }

  .post-it:hover {
    .post-it-btn {
      gap: var(--s-8);
    }
  }

  .bg-yellow {
    background: var(--color-bg-yellow-100);
  }

  .bg-blue {
    background: var(--color-bg-blue-100);
  }

  .bg-magenta {
    background: var(--color-bg-magneta-100);
  }

  .bg-red {
    background: var(--color-bg-red-100);
  }

  .bg-green {
    background: var(--color-bg-green-100);
  }

  .board.bg-red {
    margin-block-start: 60px;
  }

  .post-it-btn {
    display: flex;
    align-items: center;
    gap: var(--s-3);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 150%;
  }

  .mobile-board {
    display: none;
  }

  .case-study-card {
    display: none;
  }

  @media screen and (max-width: 1279px) {
    .top-content {
      align-items: center;
      flex-direction: column;
      margin-block-end: var(--s-17);
      gap: var(--s-18);
    }

    .work-experience {
      margin-block-start: 0;
      margin-block-end: var(--s-15);
    }

    .post-it {
      min-height: auto;
      padding: var(--s-4);
      width: auto;
      bottom: 0;
    }

    .case-studies {
      gap: var(--s-12);
    }

    .case-study {
      display: none;
    }

    .case-study__icon {
      height: var(--s-6);
      width: var(--s-6);
    }

    .case-study-card {
      box-shadow: var(--shadow-default);
      display: block;
      max-width: var(--max-content-width);
      margin-left: auto;
      margin-right: auto;
      text-decoration: none;

      .case-study-card__top {
        display: flex;
        justify-content: center;
        padding-block-start: var(--s-10);
        padding-block-end: var(--s-8);
        padding-inline: var(--s-6);
      }

      .case-study-card__image {
        height: auto;
        max-width: 340px;
        width: 100%;
      }

      .case-study-card__content {
        padding: var(--s-6);
      }
    }
  }

  @media screen and (max-width: 479px) {
    .top-content {
      gap: var(--s-14);
    }

    .work-experience__heading {
      flex-direction: column;
    }

    .work-experience__date {
      margin-inline: 0;
    }
  }
}
