.page-art-dabbles {
  .page-line {
    .line {
      background: var(--color-art);
    }
  }

  .small-heading {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin-block-end: var(--s-2);
  }

  .hand-written-text {
    font-family: var(--hand-written-font);
    font-size: var(--fs-xxl);
    line-height: 1.125;

    .word-break {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  .header-image {
    margin-block-start: calc(-1 * var(--s-10));
    margin-block-end: var(--s-10);
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  .introduction {
    text-align: justify;
  }

  .top-content {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .bottom-content {
    margin-top: var(--s-25);
    width: 100%;
  }

  .art-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 460px);
    column-gap: var(--s-6);
    row-gap: var(--s-10);
    justify-content: center;

    .art-image {
      background-color: white;
    }
  }

  img {
    object-fit: contain;
  }

  #contact-link-linkedin {
    display: none;
  }

  #contact-link-cv {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .hand-written-text {
      font-size: var(--fs-xl);
    }

    .art-container {
      grid-template-columns: repeat(auto-fit, 100%);
    }

    .art-image {
      width: 100%;
      height: auto;
    }

    .bottom-content {
      margin-top: var(--s-20);
    }
  }
}
