.page-design-system,
.page-website-redesign {
  .page-line {
    .line {
      background: var(--color-portfolio);
    }
  }

  .content {
    padding-block-start: var(--s-25);
  }

  .case__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: var(--s-8);

    .case__name {
      font-size: var(--fs-xxl);
      font-weight: 700;
      line-height: 1.25;
    }

    .case__caption {
      color: var(--color-text-light);
      font-size: var(--fs-sm);
      margin-block-start: var(--s-2);
    }
  }

  .case__intro {
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--s-20);
    margin-block-end: var(--s-5);
    gap: var(--s-6);
  }

  .case__details {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem 1.5rem;
  }

  .case__details dt {
    font-weight: bold;
  }

  .case__description {
    align-items: center;
    background: var(--color-bg-yellow-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--s-8);
    text-align: center;
    max-width: 624px;

    .case__description-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-block-end: var(--s-4);
    }
  }

  .case__content {
    color: var(--color-text-light);
    display: flex;
    margin-block-start: var(--s-30);
    background: rgba(255, 255, 255, 0.5);
  }

  .case__table-of-contents {
    border-right: 1px solid var(--color-neutral-dark);
    padding-block: var(--s-10);
    padding-inline-end: var(--s-13);

    .case__table-of-contents-links {
      position: -webkit-sticky;
      position: sticky;
      top: var(--s-10);

      li {
        list-style-type: none;
        margin-block-end: var(--s-10);
      }
    }
  }

  .case__chapters {
    display: flex;
    flex-direction: column;
    padding-block: var(--s-10);
    padding-inline: var(--s-13);
    gap: var(--s-25);

    .case__chapter {
      scroll-margin-top: var(--s-10);
    }
  }

  .case__chapter-link {
    display: flex;
    text-decoration: none;
  }

  .case__chapter-link.active {
    .case__chapter-name {
      color: var(--color-text-dark);
    }

    .case__number {
      background: var(--color-bg-dark);
      color: var(--color-white);
    }
  }

  .case__chapter-name {
    color: var(--color-text-light);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
  }

  .case__number {
    align-items: center;
    background: var(--color-neutral-dark);
    border-radius: var(--s-7);
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    margin-inline-end: var(--s-4);
    padding-block: var(--s-1);
    width: var(--s-13);
  }

  .case__chapter-title {
    font-size: 1.5rem;
    margin-block-end: var(--s-4);
  }

  .case__chapter-text {
    margin-block-end: var(--s-20);
  }

  .case__image {
    width: 100%;
    height: auto;
  }

  .case__subheading {
    color: var(--color-text-dark);
    margin-block-end: var(--s-2);
  }

  .case__chapter-section + .case__chapter-section .case__subheading {
    margin-block-start: var(--s-8);
  }

  .case__list {
    li {
      margin-block-start: var(--s-3);
    }
  }

  .navigation-link {
    display: flex;
    align-items: center;
    font-family: var(--hand-written-font);
    font-size: 1.5rem;
    gap: var(--s-3);
    text-decoration: none;
  }

  .navigation-link:hover {
    gap: var(--s-5);
  }

  .navigation-link.forward-link {
    margin-left: auto;
    margin-block-start: var(--s-10);
    width: fit-content;
  }

  .navigation-link.back-link {
    margin-block-start: var(--s-10);
    width: fit-content;
  }

  .mbs-4 {
    margin-block-start: var(--s-4);
  }

  .top-image {
    margin-block-start: var(--s-15);
    margin-block-end: var(--s-20);
  }

  @media screen and (max-width: 1279px) {
    .navigation-link.back-link {
      margin-block-end: var(--s-4);
    }

    .case__intro {
      flex-direction: column-reverse;
      margin-block-start: var(--s-13);
    }

    .hero-image {
      width: 400px;
      height: auto;
    }

    .case__title {
      flex-wrap: wrap-reverse;
    }

    .case__title-text {
      max-width: 600px;
    }

    .case__description {
      max-width: 100%;
      padding: var(--s-6);

      .case__description-title {
        margin-block-end: var(--s-3);
      }
    }

    .case__table-of-contents {
      display: none;
    }
  }

  @media screen and (max-width: 1023px) {
    .content {
      padding-block-start: var(--s-16);
    }

    .navigation-icon {
      height: var(--s-6);
      width: var(--s-6);
    }

    .case__title {
      align-items: start;
      flex-direction: column-reverse;
      margin-block-start: var(--s-10);
      row-gap: var(--s-10);
    }

    .case__content {
      margin-block-start: var(--s-16);
    }

    .case__chapters {
      padding: var(--s-6);
      gap: var(--s-20);
    }

    .case__chapter-text {
      margin-block-end: var(--s-15);
    }

    .navigation-link.back-link {
      margin-block-start: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .case__title {
      .case__name {
        font-size: var(--fs-xl);
      }
    }
  }

  @media screen and (max-width: 479px) {
    .hero-image {
      width: 100%;
      height: auto;
    }

    .navigation-link {
      font-size: 1.25rem;
    }

    .case__description {
      max-width: 100%;
      padding: var(--s-5);
      align-items: flex-start;
      text-align: left;

      .case__description-title {
        margin-block-end: var(--s-2);
      }
    }

    .case__chapters {
      padding: var(--s-4);
    }
  }
}
